# gradle

.gradle/
build/
out/
classes/

# Quilt Loom
remappedSrc/
run/

# eclipse
*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# Eclipse JDT LS
workspace/
*.bak
